	<link rel="apple-touch-icon" sizes="76x76" href="../../../assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../../../assets/img/favicon.png">
    <!-- Bootstrap core CSS     -->
    <link href="../../../assets/css/bootstrap.min.css" rel="stylesheet" />

    <!--  Paper Dashboard core CSS    -->
    <link href="../../../assets/css/paper-dashboard.css" rel="stylesheet"/>

    <!--  Fonts and icons     -->
    <link href="../../../assets/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'> -->
    <link href="../../../assets/css/themify-icons.css" rel="stylesheet">
    <!--TableTools Style-->
    <link href="../../../assets/js/TableTools/css/dataTables.tableTools.css" rel="stylesheet" type="text/css" href="">
    <!--SELECT2 Style-->
    <link href="../../../assets/js/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" href="">
    <!-- <link href="../../../assets/js/select2/dist/css/bootstrap-select.css" rel="stylesheet" type="text/css" href=""> -->
    <!--Chartist Tooltip Style-->
    <link href="../../../assets/css/chartist-plugin-tooltip.css" rel="stylesheet" type="text/css" href="">
    <!--Chartist Legend CSS -->
    <link href="../../../assets/css/chartist-legend.css" rel="stylesheet" type="text/css" href="">
    <!--pace.js styles-->
    <!-- <link href="../../../assets/css/pace-center-simple.css" rel="stylesheet" type="text/css" href=""> -->
    <!-- <link href="../../../assets/css/pace-flash.css" rel="stylesheet" type="text/css" href=""> -->
    <!-- <link href="../../../assets/css/pace-corner-indicator.css" rel="stylesheet" type="text/css" href=""> -->
    <!-- <link href="../../../assets/css/pace-big-counter.css" rel="stylesheet" type="text/css" href=""> -->
    <link href="../../../assets/css/pace-loading-bar.css" rel="stylesheet" type="text/css" href="">



    <style type="text/css">
        @font-face {
          font-family: 'Muli';
          font-style: normal;
          font-weight: 300;
          src: url(../../../assets/fonts/Muli/Muli-Light.ttf);
        }
        /* latin */
        @font-face {
          font-family: 'Muli';
          font-style: normal;
          font-weight: 400;
          src: url(../../../assets/fonts/Muli/Muli-Regular.ttf);
        }

    </style>
